--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-dotenv
python-multipart
numpy
pandas
joblib
shap
google-generativeai
torch==2.9.1+cpu
torchvision==0.24.1+cpu
pillow
scikit-learn
xgboost

