@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');


/* Your custom styles below */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF5F8;
  color: #2D3748;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}